<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575192726483-q1d65s11b49c76eiojlhe0k12devqv26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575192726483-q1d65s11b49c76eiojlhe0k12devqv26</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>575192726483-4u4ojl44c8d5tj03fg39dv4gtqjq8cq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAejqp91uxfVO8bLuK0aLAOpIFqM4giZlM</string>
	<key>GCM_SENDER_ID</key>
	<string>575192726483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pandoraFront</string>
	<key>PROJECT_ID</key>
	<string>pandora-400014</string>
	<key>STORAGE_BUCKET</key>
	<string>pandora-400014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575192726483:ios:4b4322c4b2d552d3830d26</string>
</dict>
</plist>